matplotlib==3.0.2
pandas==0.24.1
reportlab==3.5.13
xlrd==1.2.0
install/modules/GDAL-2.3.3-cp36-cp36m-win_amd64.whl
install/modules/Fiona-1.8.4-cp36-cp36m-win_amd64.whl
install/modules/PyQt4-4.11.4-cp36-cp36m-win_amd64.whl
install/modules/Shapely-1.6.4.post1-cp36-cp36m-win_amd64.whl
install/modules/pyproj-2.0.2-cp36-cp36m-win_amd64.whl
install/modules/geopandas-0.4.1-py2.py3-none-any.whl